#static {
    background-color: #eef7fb;

    color: #31708f;
    border-left: 5px solid #a6e1ec;
}
#static > p {
    font-size: 15px;
}

#static > p > label {
    font-size: 17px;
}

#ticket_number {
    font-size: 18px;
    font-weight: bold;
}

#ticket_info > li > span{
    font-size: 15px;
}
